<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ajimatech.android.ezpz">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Include required permissions for Google Mobile Ads to run -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HowToGuideActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ajimatech.android.ezpz.MainActivity" />
        </activity>
        <activity android:name=".EzContactWidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".EzContactWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/contact_widget_provider_info" />
        </receiver>

        <service
            android:name=".ContactWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Authorities is the package name, while name is the file of the provider -->
        <!--
           Add content provider so android's content resolver can see it.
           The authority matches package, name represents the file the provider is in.
        -->
        <!-- The syncable flag lets android now we're going to synchronize our content provider with the server. -->
        <!-- Changing the exported tag to false means that only our app can see the content. -->
        <provider
            android:name=".EzContactsProvider"
            android:authorities="com.ajimatech.android.ezpz"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />
    </application>

</manifest>